body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.form-field {
  display: block;
  padding: 5px;
}

.form-label {
  display: block;
  margin-top: 25px;
}

.field::placeholder {
  color:lightgrey
}

.field:focus {
  background-color: lightgoldenrodyellow;
}

.field:invalid {
  border: 1px solid red
}

.field:checked ~.form-label {
  color: green;
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

legend {
  border: 0px solid grey;
  background-color: cadetblue;
  color: white;
}

button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 20px;
}

button:hover {
  transition-duration: 0.5s;
  color: #f44336;
  background-color: white;
  border: 1px solid #f44336;
  padding: 9px 19px;
}